*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2{
    font-size: 36px;
    text-align: center;
    margin-top: 1%;
    font-family: sans-serif;
    color: burlywood;
}

body{
    background-color: #700033;
}

.carrito{
    width: 100vh;
    height: 80vh;
    background-color: aliceblue;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-carrito{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.productosElegidoss{
    border: 2px solid;
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.productoElegido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    width: 50%;
    height: 40%;
}

.nombreHamburguesa,
.detallesHamburguesa{
    font-family: sans-serif;
}

.nombreHamburguesa{
    font-size: 26px;
}

.fotoHamburguesa{
    width: 60%;
}