@import 'mobile.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

button{
    cursor: pointer;
}

@media screen and (min-width:993px){
   
    

    .hamburguesamitad{
        width: 100%;
        height: 100vh;
        background: linear-gradient(
            to right, 
            #fff 0%,
            #fff 50%, 
            #700033 50%, 
            #700033 100%
        );
        
        
      }

    header{
        padding: 0px 20px 0px 20px;
        height: 15%;
        display: flex;
        align-items: center;

    }

    nav{
        display: flex;
        width: 100%;
    }

    .cont-logo{
        width: 15%;

        img{
            width: 10vw;
        }
    }

    .cont-ul-nav{
        width: 35%;
        
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li{
                list-style: none;
                font-weight: 600;
                padding: 0px 10px 0px 10px;

                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 1.5vw;
                }

                .enrojo{
                    color: #c86893;
                }
            }

            
        }
    }

    .cont-numero{
        width: 50%;
        display: flex;
        justify-content: end;
        align-items: center;

        p{
            margin-right: 2%;
            font-size: 20px;
            font-weight: 600;
        }
    }

    // FIN DE NAV

    .cont-2daSection{
        display: flex;
        width: 100%;
    }

    .cont-singlePatty{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 5%;

        h2{
            font-size: 4vw;
            color: rgb(124, 124, 124);
            padding-bottom: 5%;
        }

        p{
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 10%;
        }

        button{
            padding: 10px 30px 10px 30px;
            border-radius: 10px;
            border: none;
            background-color: #700033;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
        }

        button:hover{
            background-color: #801344;
        }
    }

    .cont-hamburguesaMitad{
        width: 40%;
        display: flex;
        align-items: center;
        img{
            width: 100%;
        }
    }

    .cont-sassy{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3{
            font-size: 3vw;
            color: #FAFF00;
        }

        p{
            font-size: 1.3vw;
            text-align: left;
            color: #fff;
        }
    }

    .cont-BURGUERS{
        width: 10%;
        
        
        img{
            width: 100%;
            padding-right: 10%;
        }
    }

    // SECCION CARDS


    .second-section{
        background-color: #f0f0f06c;
    }

    .titulo-our{
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            font-family: 'Indie Flower', cursive;
            font-size: 3vw;
            color: #700033;
        }

        h4{
            font-size: 4vw;
            color: rgb(97, 97, 97);
            padding-bottom: 80px;
        }
    }

    .card{
        margin-bottom: 5%;
        border-radius: 10px;
        background: #fff;
        box-shadow:  20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px 0px 30px 0px;
        
        img{
            width: 60%;
        }

        h4{
            text-align: center;
            margin: 5%;
            font-size: 20px;
            font-weight: 800;
            color: #700033;
        }

        p{
            text-align: center;
            margin-bottom: 5%;
        }

        div{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 35px;
            }

            button{
                padding: 5px 10px 5px 10px;
                background-color: #700033;
                border: none;
                border-radius: 10px;
                color: #fff;
                font-size: 16px;
            }
        }
    }
    
    .cont-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 80%;
    }

    .cont-section-hamburguesas-compra{
        display: flex;
        align-items: center;
    }

    .Imgmenu{
        width: 20%;
        display: flex;
        justify-content: center;
    }
    
    // FIN SECCION COMPRAS

    .cont-section-hamburguesas-especiales{
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }

    .seccion-hamburguesas-especiales{
        display: flex;
        justify-content: space-between;
        width: 90%;
        
        div{
            display: flex;
            
            .hamburguesa-especial{
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: flex-start;
                width: 50%;
                height: 100%;
                margin-left: 5%;
                padding-bottom: 5%;
                

                h4{
                    font-size: 38px;
                    color: #fff;
                }

                button{
                    padding: 5px 15px 5px 15px;
                    border-radius: 10px;
                    border: none;
                    background-color: #700033;
                    color: #fff;
                    font-size: 16px;
                }

            }

            img{
                width: 100%;
                align-self: flex-end;
            }
        }
    }

    .chicha-burguer{
        background-color:#FA5454 ;
        width: 33%;
    }

    .friend-burguer{
        background-color: #FAFF00;
        width: 33%;
    }

    .grill-burguer{
        background-color: #F69752;
        width: 34%;
    }

    .cont-mitad-burguer{
        width: 50%;
        display: flex;
        justify-content: end;
    }

     
    .titulo-social{
        h3{
            text-align: center;
            font-size: 4vw;
            font-weight: 600;
            color: rgb(99, 99, 99);


            a{
                color: #700033;
            }
        }

        p{
            text-align: center;
            color: #bebebe;
            font-weight: 600;
            font-size: 1.5vw;
        }
    }


    .contenedor-social{
        display: flex;
        
    }

    .cont-social-png{
        width: 10%;
    }

    .cont-img-social{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;

        div{
            width: 30%;
            height: 30vh;
            
        }

        .img-social1{
            width: 100%;
        }

        .img-social2{
            width: 100%;
        }

        .img-social3{
            width: 100%;
        }
    }

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cont-listas{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #700033;

    .cont-img-footer{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        img{
            width: 30%;
        }

        p{
            color: #bebebe;
        }
    }    
}

.service{
    span{
        font-size: 20px;
        font-weight: 600;
        color: #bebebe;
    }

    ul{
        li{
            list-style: none;

            a{
                text-decoration: none;
                color: #bebebe;
            }
        }
    }
        
    
}

.company{
    span{
        font-size: 20px;
        font-weight: 600;
        color: #bebebe;
    }

    ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li{
            list-style: none;

            a{
                text-decoration: none;
                color: #bebebe;
            }
        }
    }
}

.copyright{
    background-color: #700033;
    width: 100%;

    p{
        text-align: center;
        padding: 20px;
    }
}


}

