@media screen and (max-width: 576px) {
  img {
    width: 100px;
  }
  .cont-numero {
    width: 0%;
  }
  .cont-numero p {
    font-size: 0px;
  }
  .cont-numero img {
    width: 0px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #700033;
  }
  nav .cont-logo {
    width: 20%;
  }
  nav .cont-logo img {
    width: 100%;
    padding: 5%;
  }
  nav .cont-ul-nav {
    width: 80%;
  }
  nav .cont-ul-nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  nav .cont-ul-nav ul li {
    list-style: none;
  }
  nav .cont-ul-nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 3vw;
    font-weight: 600;
  }
  nav .cont-ul-nav ul li .enrojo {
    text-decoration: none;
    color: #ff9d77;
    font-size: 3vw;
    font-weight: 600;
  }
  .cont-2daSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cont-sassy {
    width: 0%;
  }
  .cont-sassy h3 {
    font-size: 0px;
  }
  .cont-sassy p {
    font-size: 0px;
  }
  .cont-BURGUERS {
    width: 0%;
  }
  .cont-BURGUERS img {
    width: 0px;
  }
  .cont-singlePatty {
    padding-left: 5%;
    height: 50vh;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .cont-singlePatty h2 {
    font-size: 10vw;
    color: rgba(110, 110, 110, 0.737);
  }
  .cont-singlePatty p {
    font-size: 3vw;
    font-weight: 600;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .cont-singlePatty button {
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    border: none;
    background-color: #700033;
    color: #fff;
    font-size: 4vw;
    cursor: pointer;
  }
  .second-section {
    background-color: #e2e2e2;
  }
  .cont-hamburguesaMitad {
    width: 60%;
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-hamburguesaMitad img {
    width: 100%;
  }
  .titulo-our p {
    text-align: center;
    font-size: 7vw;
    font-family: 'Indie Flower', cursive;
    color: #700033;
  }
  .titulo-our h4 {
    text-align: center;
    font-size: 9vw;
    color: #929292;
  }
  .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 8px;
    margin: 10% 10%;
    -webkit-box-shadow: 0px 0px 10px 0px;
            box-shadow: 0px 0px 10px 0px;
    background-color: #f7f7f7;
  }
  .card p {
    text-align: center;
    padding: 5% 15%;
    font-weight: 600;
  }
  .card h4 {
    font-size: 6vw;
  }
  .card img {
    width: 50%;
    padding-top: 5%;
  }
  .card div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 5%;
  }
  .card div img {
    width: 20%;
  }
  .card div button {
    padding: 2px 10px 2px 10px;
    border-radius: 10px;
    border: none;
    background-color: #700033;
    color: #fff;
    font-size: 4vw;
    cursor: pointer;
  }
  .card-desaparecida {
    width: 0%;
  }
  .card-desaparecida img {
    width: 0%;
  }
  .card-desaparecida h4 {
    font-size: 0%;
  }
  .card-desaparecida p {
    font-size: 0%;
  }
  .card-desaparecida div img {
    width: 0%;
  }
  .card-desaparecida div button {
    width: 0%;
    font-size: 0px;
    padding: 0px;
  }
  .Imgmenu {
    width: 0px;
    visibility: hidden;
  }
  .Imgmenu img {
    width: 0px;
  }
  .cont-mitad-burguer img {
    width: 0px;
  }
  .seccion-hamburguesas-especiales {
    width: 0px;
    height: 0px;
  }
  .hamburguesa-especial {
    visibility: hidden;
    width: 0px;
  }
  .hamburguesa-especial h4 {
    font-size: 0px;
  }
  .hamburguesa-especial button {
    padding: 0px;
    font-size: 0px;
  }
  .chicha-burguer {
    width: 0px;
  }
  .friend-burguer {
    width: 0px;
  }
  .grill-burguer {
    width: 0px;
  }
  .titulo-social {
    padding: 5%;
  }
  .titulo-social h3 {
    text-align: center;
    font-size: 6.5vw;
    font-weight: 500;
    color: #868686;
  }
  .titulo-social h3 a {
    color: #700033;
  }
  .titulo-social p {
    color: #929292;
    text-align: center;
    padding: 5%;
  }
  .cont-social-png img {
    width: 0px;
  }
  .img-social2 {
    width: 0px;
  }
  .img-social3 {
    width: 0px;
  }
  .cont-img-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cont-img-social .invisible-mobile {
    height: 0px;
    width: 0px;
  }
  .cont-img-social .visible-mobile {
    height: 100%;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cont-img-social .visible-mobile img {
    width: 100%;
  }
  footer {
    background-color: #700033;
    width: 100%;
  }
  svg {
    background-color: #fff;
  }
  .cont-listas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cont-listas div span {
    font-size: 16px;
    color: #fff;
  }
  .cont-listas div p {
    font-size: 10px;
    color: #e2e2e2;
  }
  .cont-listas div ul li {
    font-size: 12px;
    list-style: none;
  }
  .cont-listas div ul li a {
    text-decoration: none;
    color: #929292;
    font-weight: 400;
  }
  .cont-listas .cont-img-footer {
    padding-left: 2%;
  }
  .cont-listas .company {
    padding-right: 2%;
  }
  .copyright p {
    text-align: center;
    padding: 5% 0% 10% 0%;
    color: #fff;
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 993px) {
  .hamburguesamitad {
    width: 100%;
    height: 100vh;
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #700033), to(#700033));
    background: linear-gradient(to right, #fff 0%, #fff 50%, #700033 50%, #700033 100%);
  }
  header {
    padding: 0px 20px 0px 20px;
    height: 15%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .cont-logo {
    width: 15%;
  }
  .cont-logo img {
    width: 10vw;
  }
  .cont-ul-nav {
    width: 35%;
  }
  .cont-ul-nav ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-ul-nav ul li {
    list-style: none;
    font-weight: 600;
    padding: 0px 10px 0px 10px;
  }
  .cont-ul-nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
  }
  .cont-ul-nav ul li .enrojo {
    color: #c86893;
  }
  .cont-numero {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-numero p {
    margin-right: 2%;
    font-size: 20px;
    font-weight: 600;
  }
  .cont-2daSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .cont-singlePatty {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 5%;
  }
  .cont-singlePatty h2 {
    font-size: 4vw;
    color: #7c7c7c;
    padding-bottom: 5%;
  }
  .cont-singlePatty p {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10%;
  }
  .cont-singlePatty button {
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: #700033;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  .cont-singlePatty button:hover {
    background-color: #801344;
  }
  .cont-hamburguesaMitad {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-hamburguesaMitad img {
    width: 100%;
  }
  .cont-sassy {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cont-sassy h3 {
    font-size: 3vw;
    color: #FAFF00;
  }
  .cont-sassy p {
    font-size: 1.3vw;
    text-align: left;
    color: #fff;
  }
  .cont-BURGUERS {
    width: 10%;
  }
  .cont-BURGUERS img {
    width: 100%;
    padding-right: 10%;
  }
  .second-section {
    background-color: #f0f0f06c;
  }
  .titulo-our {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .titulo-our p {
    font-family: 'Indie Flower', cursive;
    font-size: 3vw;
    color: #700033;
  }
  .titulo-our h4 {
    font-size: 4vw;
    color: #616161;
    padding-bottom: 80px;
  }
  .card {
    margin-bottom: 5%;
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: 20px 20px 60px #bebebe,
 -20px -20px 60px #ffffff;
            box-shadow: 20px 20px 60px #bebebe,
 -20px -20px 60px #ffffff;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 0px 30px 0px;
  }
  .card img {
    width: 60%;
  }
  .card h4 {
    text-align: center;
    margin: 5%;
    font-size: 20px;
    font-weight: 800;
    color: #700033;
  }
  .card p {
    text-align: center;
    margin-bottom: 5%;
  }
  .card div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card div img {
    width: 35px;
  }
  .card div button {
    padding: 5px 10px 5px 10px;
    background-color: #700033;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
  }
  .cont-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 80%;
  }
  .cont-section-hamburguesas-compra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Imgmenu {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cont-section-hamburguesas-especiales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10%;
  }
  .seccion-hamburguesas-especiales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90%;
  }
  .seccion-hamburguesas-especiales div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .seccion-hamburguesas-especiales div .hamburguesa-especial {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    height: 100%;
    margin-left: 5%;
    padding-bottom: 5%;
  }
  .seccion-hamburguesas-especiales div .hamburguesa-especial h4 {
    font-size: 38px;
    color: #fff;
  }
  .seccion-hamburguesas-especiales div .hamburguesa-especial button {
    padding: 5px 15px 5px 15px;
    border-radius: 10px;
    border: none;
    background-color: #700033;
    color: #fff;
    font-size: 16px;
  }
  .seccion-hamburguesas-especiales div img {
    width: 100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .chicha-burguer {
    background-color: #FA5454;
    width: 33%;
  }
  .friend-burguer {
    background-color: #FAFF00;
    width: 33%;
  }
  .grill-burguer {
    background-color: #F69752;
    width: 34%;
  }
  .cont-mitad-burguer {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .titulo-social h3 {
    text-align: center;
    font-size: 4vw;
    font-weight: 600;
    color: #636363;
  }
  .titulo-social h3 a {
    color: #700033;
  }
  .titulo-social p {
    text-align: center;
    color: #bebebe;
    font-weight: 600;
    font-size: 1.5vw;
  }
  .contenedor-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cont-social-png {
    width: 10%;
  }
  .cont-img-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-img-social div {
    width: 30%;
    height: 30vh;
  }
  .cont-img-social .img-social1 {
    width: 100%;
  }
  .cont-img-social .img-social2 {
    width: 100%;
  }
  .cont-img-social .img-social3 {
    width: 100%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-listas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    background-color: #700033;
  }
  .cont-listas .cont-img-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cont-listas .cont-img-footer img {
    width: 30%;
  }
  .cont-listas .cont-img-footer p {
    color: #bebebe;
  }
  .service span {
    font-size: 20px;
    font-weight: 600;
    color: #bebebe;
  }
  .service ul li {
    list-style: none;
  }
  .service ul li a {
    text-decoration: none;
    color: #bebebe;
  }
  .company span {
    font-size: 20px;
    font-weight: 600;
    color: #bebebe;
  }
  .company ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .company ul li {
    list-style: none;
  }
  .company ul li a {
    text-decoration: none;
    color: #bebebe;
  }
  .copyright {
    background-color: #700033;
    width: 100%;
  }
  .copyright p {
    text-align: center;
    padding: 20px;
  }
}

/* CARDS DEL CARRITO */
.fotoHamburguesa{
  width: 100px;
}

.tuCarro{
  text-align: center;
  font-size: 36px;
  color: #801344;
}

.cont-productosElegidos{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
}

.productosElegidos{
  border: 2px solid #700033;
  border-radius: 8px 8px 0px 0px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.productoElegido{
  width: 50%;
  height: 50%;
  border: 1px solid;
  background-color: khaki;
}

.cont-infoHamburguesa{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont-botonComprar{
  border: 2px solid #700033;
  border-radius: 0px 0px 8px 8px;
  width: 80%;
  height: 20%;
  background-color: #801344;
  
}

.cont-botonEliminar{
  display: flex;
  justify-content: end;
  height: 20%;
  padding: 1% 1% 0 0;
}

.sacarDelCarrito{
  padding: 5px;
  border-radius: 8px;
  border: 1px solid;
  background-color: #801344be;
}

#formOrNot{
  display: flex;
  justify-content: center;
  align-items: center;
}

.saludos{
  font-size: 60px;
}



/*# sourceMappingURL=style.css.map */